/* Mr. Worldwide rules */

:root {
    --vfx-intensity: 1;
    --glow-spread: 12px;
    --glow-size: 6px;
    --fade-spread: 15px;
    --window-width: 100vw;
    --window-height: 100vh;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, #A7D9B4, #6B8E23);
    margin: 0;
    font-family: sans-serif;
    user-select: none;
}

h2 {
    margin-bottom: calc(var(--window-width) / 64);
    font-size: calc(var(--window-width) / 64);
    color: #36453B;
}

h3 {
    font-size: calc(var(--window-width) / 102.6);
    margin-bottom: 0px;
}

button {
    cursor: pointer;
}