/* Fullscreen... screens... loading/start */
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #36453B;
    color: #EFEBD8;
    z-index: 9999;
    font-size: calc(var(--window-width) / 48);
}

#loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out;
    opacity: 1;
}

#loading-screen.hidden {
    opacity: 0;
    pointer-events: none;
}

#start-screen {
    opacity: 1;
    z-index: 9998;
}

#start-screen.hidden {
    opacity: 0;
    pointer-events: none;
}

#start-btn-wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    font-size: calc(var(--window-height) / 43.2);
}

#question {
    text-align: center;
    margin: calc(var(--window-width) / 48);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#question.fade-out {
    opacity: 0;
}

.start-btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    flex: 1;
    padding: calc(var(--window-width) / 192);
    margin: calc(var(--window-width) / 48);
    gap: calc(var(--window-width) / 192);
    border-radius: calc(var(--window-width) / 38.4);
    border: calc(var(--window-width) / 192) solid #84ab8e;
    background-color: #A7D9B4;

    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.start-btn:hover {
    background-color: #EFEBD8;
}

.start-btn.fade-out {
    opacity: 0;
}

.start-btn span {
    margin-top: calc(var(--window-width) / 192);
}

ul {
    text-align: left;
    margin: 0;
}