/* Only the animations */

@keyframes pulse-glow {
    0% {
        box-shadow: 0 0 calc(var(--glow-spread) * var(--vfx-intensity) * 0.66) calc(var(--glow-size) * var(--vfx-intensity) * 0.66) #FFD700B3;
    }
    100% {
        box-shadow: 0 0 calc(var(--glow-spread) * var(--vfx-intensity)) calc(var(--glow-size) * var(--vfx-intensity)) #FFD700FF;
    }
}

@keyframes upGlowAndFade {
    0% {
        background-color: transparent;
        box-shadow: 0 0 0px #A7D9B400;
    }
    50% {
        background-color: rgba(167, 217, 180, calc(var(--vfx-intensity) * 0.7));
        box-shadow: 0 0 calc(var(--fade-spread) * var(--vfx-intensity)) #A7D9B4FF;
    }
    100% {
        background-color: transparent;
        box-shadow: 0 0 0px #A7D9B400;
    }
}

@keyframes downGlowAndFade {
    0% {
        background-color: transparent;
        box-shadow: 0 0 0px #FF000000;
    }
    50% {
        background-color: rgba(255, 0, 0, calc(var(--vfx-intensity) * 0.7));
        box-shadow: 0 0 calc(var(--fade-spread) * var(--vfx-intensity)) #FF0000FF;
    }
    100% {
        background-color: transparent;
        box-shadow: 0 0 0px #FF000000;
    }
}